
  @import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
  body
  {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Neuton', serif;
    background-image: url(https://wallpaperaccess.com/full/5651978.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
    background-attachment: fixed;
    z-index: 1;
  }
  .navigation-bar
  {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .myname
  {
    font-family: 'Rowdies', cursive;
    font-weight:bolder;
    font-size: 30px;
    color: #fc4503;
  }
  .mymenu
  {
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1.5px;
  }
  .mymenu:hover
  {
    color: #fc4503;
  }
  #home
  {
    margin-top: 70px;
  }
  .dv
  {
    height: 500px;
    width: 100%;
  }
  .info
  {
    margin-top: 10%;
    margin-left: 5%;
  }
  .hminfo
  {
    font-size: 30px;
    color: black;
  }
  .hmname
  {
    font-family: 'Anton', sans-serif;
    font-family: 'Lato',sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: #fc4503;
  }